<div class="flex flex-col w-full p-4">
  <h1 class="text-3xl font-bold">Notes History</h1>

  <ul class="list-none py-6">
    <% @dates.each do |date| %>
      <li><%= link_to date.strftime('%B %d, %Y'), notes_history_path(date) %></li>
    <% end %>
  </ul>

  <div>
    <%= link_to "Main Page", daily_overview_path(id: Date.today), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
